@use "index.scss" as *;

.app {
  background: linear-gradient(180deg, #0D1E48 0%, #304571 100%);

  .header {
    background-color: $black;

    .menu {
      padding: 24px 91px 20px 81px;

      display: flex;
      align-items: center;
      justify-content: space-between;

      &__nav {
        display: flex;
        gap: 30px;

        &-item {
          @include LatoBold(18px, 22px, $white);
          cursor: pointer;

          &:hover {
            color: transparent;
            background: linear-gradient(98.25deg, #EBFF00 18.56%, #FF70D9 76.02%);
            -webkit-background-clip: text;
            background-clip: text;
          }
        }

        &-cart {
          width: 24px;
          height: 21px;
          cursor: pointer;

          background: url("./assets/images/header/cart.svg") no-repeat;

          &:hover {
            background: url("./assets/images/header/cart_gradient.svg") no-repeat;
          }
        }
      }
    }

    .banner {
      padding: 91px 91px 119px 81px;
      background:
              url("./assets/images/header/earth.svg") no-repeat 92% 65%,
              linear-gradient(300deg, rgba($black, 0) 0%, rgba(15, 20, 32, 0.79) 100%),
              url("./assets/images/header/background.svg") no-repeat center/cover;

      display: flex;
      flex-direction: column;
      gap: 22px;

      &__title {
        max-width: 693px;
        @include LatoExtraBold(72px, 72px, $white);

        span {
          color: $purple;
        }
      }

      &__subtitle {
        max-width: 693px;
        @include LatoExtraBold(32px, 38px, $white);

        span {
          color: $yellow;
        }
      }

      &__button {
        padding: 14px 40px;
        background-color: $yellow;

        &:hover {
          background-color: $yellow-6;
        }
      }
    }
  }

  .main {
    padding: 58px 80px 60px;

    .offers {
      &__title {
        @include LatoExtraBold(32px, 38px, $white);
      }

      &__wrapper {
        margin-top: 40px;
        margin-bottom: 62px;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 40px;
        grid-row-gap: 40px;

        .offers__card {
          height: 100%;
          padding: 35px;

          border-radius: 10px;

          display: flex;
          flex-direction: column;
          gap: 22px;

          &:first-child, &:last-child {
            grid-column: span 2 / span 2;

            .offers__card-title {
              max-width: 600px;
              @include LatoExtraBold(74px, 74px, $white);
            }

            .offers__card-subtitle {
              max-width: 600px;
              @include LatoExtraBold(26px, 31px, $white);
            }
          }

          &-title {
            max-width: 280px;
            @include LatoExtraBold(46px, 46px, $white);
          }

          &-subtitle {
            max-width: 480px;
            @include LatoExtraBold(24px, 28px, $white);
          }

          &-button {
            padding: 12px 40px;
            margin-top: auto;

            border: 2px solid $yellow;
            color: $yellow;

            &:hover {
              color: $yellow-6;
              border-color: $yellow-6;
            }
          }
        }
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      gap: 17px;

      &__title {
        @include LatoExtraBold(32px, 38px, $white);
      }

      &__text {
        @include LatoBold(20px, 24px, rgba($white, 0.6));
      }

      &__hidden-text {
        max-height: 0;

        @include LatoBold(20px, 24px, rgba($white, 0.6));
        overflow: hidden;
        transition: max-height 0.3s ease-out;
      }

      &__checkbox {
        display: none;

        &:checked ~ .info__hidden-text {
          max-height: 200px;
        }

        &:checked ~ .info__read-more::after {
          content: "Read less";
        }
      }

      &__read-more {
        width: max-content;
        @include LatoExtraBold(20px, 24px, $yellow);
        cursor: pointer;

        display: inline-block;

        &:hover {
          color: $yellow-6;
        }

        &::after {
          content: "Read more";
        }
      }
    }
  }

  .footer {
    padding-bottom: 18px;
    background-color: $black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__subtitle {
      @include LatoExtraBold(18px, 28px, $yellow);
    }
  }
}
