@use "index.scss" as *;

.app {
  background: linear-gradient(180deg, #0D1E48 0%, #304571 100%);

  .header {
    background-color: $black;

    .menu {
      padding: 22px 80px 21px;

      display: flex;
      align-items: center;
      justify-content: space-between;

      &__burger-button {
        display: none;
      }

      &__mobile {
        display: none;
      }

      &__nav {
        display: flex;
        gap: 30px;

        &-item {
          @include LatoBold(18px, 22px, $white);
          cursor: pointer;

          &:hover {
            color: transparent;
            background: linear-gradient(98.25deg, #EBFF00 18.56%, #FF70D9 76.02%);
            -webkit-background-clip: text;
            background-clip: text;
          }
        }

        &-cart {
          width: 24px;
          height: 21px;
          cursor: pointer;

          background: url("./assets/images/header/cart.svg") no-repeat;

          &:hover {
            background: url("./assets/images/header/cart_gradient.svg") no-repeat;
          }
        }
      }
    }

    .banner {
      padding: 91px 81px 119px 81px;
      background: url("./assets/images/header/earth.png") no-repeat 95% 65%,
      linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(15, 20, 32, 0.79) 100%),
      url("./assets/images/header/background_l.jpg") no-repeat center/cover;

      display: flex;
      flex-direction: column;
      gap: 22px;

      &__title {
        max-width: 693px;
        @include LatoExtraBold(72px, 72px, $white);

        span {
          color: $purple;
        }
      }

      &__subtitle {
        max-width: 693px;
        @include LatoExtraBold(32px, 38px, $white);

        span {
          color: $yellow;
        }
      }

      &__button {
        padding: 14px 40px;
        background-color: $yellow;

        &:hover {
          background-color: $yellow-6;
        }
      }

      @media (hover: none) {
        &__button:hover {
          background-color: $yellow;
        }
      }
    }
  }

  .main {
    padding: 58px 80px 60px;

    .offers {
      margin-bottom: 62px;

      display: flex;
      flex-direction: column;
      gap: 40px;

      &__title {
        @include LatoExtraBold(32px, 38px, $white);
      }

      &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;

        .offers__card {
          padding: 35px;
          border-radius: 10px;

          display: flex;
          flex-direction: column;
          gap: 22px;

          &-1 {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(15, 20, 32, 0.79) 100%),
            url("assets/images/offers/offer_1_l.jpg") no-repeat center/cover;
          }

          &-2 {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(15, 20, 32, 0.79) 100%),
            url("assets/images/offers/offer_2_l.jpg") no-repeat center/cover;
          }

          &-3 {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(15, 20, 32, 0.79) 100%),
            url("assets/images/offers/offer_3_l.jpg") no-repeat center/cover;
          }

          &-4 {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(15, 20, 32, 0.79) 100%),
            url("assets/images/offers/offer_4_l.jpg") no-repeat center/cover;
          }

          &:first-child, &:last-child {
            grid-column: span 2 / span 2;

            .offers__card-title {
              max-width: 600px;
              @include LatoExtraBold(74px, 74px, $white);
            }

            .offers__card-subtitle {
              max-width: 600px;
              @include LatoExtraBold(26px, 31px, $white);
            }
          }

          &-title {
            max-width: 280px;
            @include LatoExtraBold(46px, 46px, $white);
          }

          &-subtitle {
            max-width: 480px;
            @include LatoExtraBold(24px, 28px, $white);
          }

          &-button {
            padding: 12px 40px;
            margin-top: auto;

            border: 2px solid $yellow;
            color: $yellow;

            &:hover {
              color: $yellow-6;
              border-color: $yellow-6;
            }
          }

          @media (hover: none) {
            &-button:hover {
              border-color: $yellow;
              color: $yellow;
            }
          }
        }
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      gap: 17px;

      &__title {
        @include LatoExtraBold(32px, 38px, $white);
      }

      &__text {
        @include LatoBold(20px, 24px, rgba($white, 0.6));
      }

      &__hidden-text {
        max-height: 0;

        @include LatoBold(20px, 24px, rgba($white, 0.6));
        overflow: hidden;
        transition: max-height 0.3s ease-out;
      }

      &__checkbox {
        display: none;

        &:checked ~ .info__hidden-text {
          max-height: 500px;
        }

        &:checked ~ .info__read-more::after {
          content: "Read less";
        }
      }

      &__read-more {
        width: max-content;
        @include LatoExtraBold(20px, 24px, $yellow);
        cursor: pointer;

        display: inline-block;

        &:hover {
          color: $yellow-6;
        }

        &::after {
          content: "Read more";
        }
      }

      @media (hover: none) {
        &__read-more:hover {
          color: $yellow;
        }
      }
    }
  }

  .footer {
    padding-bottom: 18px;
    background-color: $black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__subtitle {
      @include LatoExtraBold(18px, 28px, $yellow);
    }
  }
}

@media (max-width: 768px) {
  .app {
    .header {
      .menu {
        padding: 28px 30px;

        &__logo {
          width: 71px;
          height: 24px;
        }
      }

      .banner {
        padding: 100px 30px;

        background: url("./assets/images/header/earth.png") no-repeat right -90px center / 290px,
        linear-gradient(180deg, rgba($black, 0) 0%, rgba(15, 20, 32, 0.79) 100%),
        url("./assets/images/header/background_m.jpg") no-repeat center/cover;

        &__title {
          max-width: 411px;
          font-size: 48px;
          line-height: 48px;
        }

        &__subtitle {
          max-width: 411px;
          font-size: 22px;
          line-height: 26px;
        }
      }
    }

    .main {
      padding: 55px 30px 53px;

      .offers {
        margin-bottom: 55px;
        gap: 30px;

        &__title {
          font-size: 24px;
          line-height: 28px;
        }

        &__wrapper {
          grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
          grid-gap: 30px;

          .offers__card {
            padding: 107px 12px 26px 26px;

            &-1 {
              background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(15, 20, 32, 0.79) 100%),
              url("assets/images/offers/offer_1_m.jpg") no-repeat center/cover;
            }

            &-2 {
              background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(15, 20, 32, 0.79) 100%),
              url("assets/images/offers/offer_2_m.jpg") no-repeat center/cover;
            }

            &-3 {
              background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(15, 20, 32, 0.79) 100%),
              url("assets/images/offers/offer_3_m.jpg") no-repeat center/cover;
            }

            &-4 {
              background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(15, 20, 32, 0.79) 100%),
              url("assets/images/offers/offer_4_m.jpg") no-repeat center/cover;
            }

            &:first-child, &:last-child {
              grid-column: initial;

              .offers__card-title {
                max-width: 240px;
                font-size: 40px;
                line-height: 40px;
              }

              .offers__card-subtitle {
                max-width: 240px;
                font-size: 16px;
                line-height: 19px;
              }
            }

            &-title {
              max-width: 240px;
              font-size: 40px;
              line-height: 40px;
            }

            &-subtitle {
              max-width: 240px;
              font-size: 16px;
              line-height: 19px;
            }

            &-button {
              padding: 5px 40px;

              font-size: 16px;
              line-height: 19px;
            }
          }
        }
      }

      .info {
        gap: 13px;

        &__title {
          font-size: 24px;
          line-height: 28px;
        }

        &__text,
        &__hidden-text {
          font-size: 16px;
          line-height: 19px;
        }

        &__read-more {
          margin-top: 3px;
          font-size: 16px;
          line-height: 19px;
        }
      }
    }
  }
}

@media (max-width: 360px) {
  .app {
    .header {
      .menu {
        padding: 12px 20px;

        &__nav {
          display: none;
        }

        &__burger-button {
          width: 24px;
          height: 20px;

          position: relative;
          cursor: pointer;

          display: block;
          border: none;
          background: transparent;


          &::before,
          &::after {
            content: '';
            width: 100%;
            height: 1.5px;

            background-color: $white;
            border-radius: 4px;

            left: 0;
            position: absolute;
          }

          &::before {
            top: 0;
            box-shadow: 0 9px 0 $white;
            transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
          }

          &::after {
            height: 2px;
            bottom: 0;
            transition: bottom .3s .15s, transform .3s;
          }

          &.active::before {
            top: 10px;
            transform: rotate(45deg);
            box-shadow: 0 6px 0 rgba(0,0,0,0);
            transition: box-shadow .15s, top .3s, transform .3s
          }

          &.active::after {
            bottom: 8px;
            transform: rotate(-45deg);
            transition: bottom .3s, transform .3s .15s;
          }
        }

        &__mobile {
          width: 100%;
          padding: 12px;

          background: $black;

          position: absolute;
          top: 47px;
          right: 0;

          display: flex;
          flex-direction: column;
          align-items: center;

          transform: translateX(100%);
          transition: .3s;

          &.active {
            transform: translateX(0);
            position: absolute;
          }

          &-item {
            width: 100%;
            padding: 12px 0;

            @include LatoExtraBold(16px, 18px, $white);
            text-align: center;
            border-bottom: 1px solid rgba($white, 0.6);

            &:first-child {
              padding-top: 0;
            }

            &:last-child {
              border: none;
              padding-bottom: 0;
            }
          }
        }
      }

      .banner {
        padding: 249px 34px 44px;
        align-items: center;

        background: url("./assets/images/header/earth.png") no-repeat top -115px center / 90%,
        linear-gradient(180deg, rgba($black, 0) 0%, rgba(15, 20, 32, 0.79) 100%),
        url("./assets/images/header/background_s.jpg") no-repeat center/cover;

        gap: 17px;

        &__title {
          max-width: 292px;
          font-size: 36px;
          line-height: 36px;
        }

        &__subtitle {
          max-width: 292px;
          font-size: 16px;
          line-height: 19px;
        }

        &__button {
          padding: 7px 40px;
          font-size: 16px;
          line-height: 19px;
        }
      }
    }

    .main {
      padding: 50px 20px;

      .offers {
        margin-bottom: 50px;

        &__title {
          font-size: 18px;
          line-height: 22px;
        }
      }

      .info {
        gap: 20px;

        &__title {
          font-size: 18px;
          line-height: 22px;
        }

        &__text,
        &__hidden-text {
          font-size: 14px;
          line-height: 17px;
        }

        &__read-more {
          margin-top: 0;
          font-size: 14px;
          line-height: 17px;
        }
      }
    }
  }
}